@charset "UTF-8";
/* 방명록과 관련한 레이아웃 */

#guestbook{
	width:560px;
	margin:auto;
}

#guestbook>#frm_gb{
	margin-bottom:25px;
	text-align:right;
}

#guestbook>#list .mid{
	display:inline-block;
	width:270px;	
	font-size:10pt;
	color:#555;
}

#guestbook>#list .mdate{
	display:inline-block;
	width:150px;
	font-size:10pt;
	color:#555;
}

#guestbook>#list textarea{
	width:560px;
}
#guestbook>#list .btns{
	text-align: right;
}

#guestbook .btns>input[type=button]{
	font-size:9pt;
	color:#555;
	border-radius:15px;	
	border:1px solid #aaa;
}