<!DOCTYPE html>
<html>
    <head>
        <title>layout tutorial</title>
        <style>
            header {
                background-color: darkgary;
            }
        </style>
    </head>
    <body>
        <header class="hero">
            <div class=container>
                <h1 class="primary-title">제목</h1>
                <p>서브타이틀</p>
                <p>Mon Nov 16 2020 14:04:44 GMT+0900</p>
            </div>
        </header>
        <main>
            <article>
                <div class="container article-spacing">
                    <h1>제목</h1>
                    <p>내용</p>
                    <blockquote>
                        <p>인용구1</p>
                        <p>인용구2</p>
                    </blockquote>
                    <p>내용</p>
                    <h1>제목2</h1>
                    <p>내용</p>
                    <div class="img-box">
                        <img src="/path/to/image">
                        <p>[이미지 설명]</p>
                    </div>
                </div>
            </article>
        </main>
        <footer>
            <div class="footer">
                <div class="container info-cotainer">
                    <div class="info-container-item">
                        <h1>제목</h1>
                        <p>내용</p>
                    </div>
                    <div class="info-container-item">
                        <h1>제목2</h1>
                        <p>내용2</p>
                    </div>
                    <div class="info-container-item">
                        <h1>제목3</h1>
                        <p>내용3</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>